<div class="container row page">

  <div id='sidebar' class="col-xs-3">
    <div id="sidebar-header" class="row title">
      <h1>Active Feeds</h1>
    </div>
    <div id="sidebar-content" class="row">
    </div>
  </div>


  <div id='main' class="col-xs-9">
    <div id="main-header" class="row title">
      <h1> Current Feed: </h1>
    </div>
    <div id="main-content" class="row">
    </div>
  </div>

</div>


<script></script>
